{% extends 'index.html' %}

{% block content %}
    {% if articles %}
    <div class="grid-container-details scroll-fade">
        {% for article in articles %}
            <div class="article-card-details">
                <h3 class="article-title-details">{{ article.title }}</h3>
                <p class="article-content">{{ article.content }}
                    <a href="{% url 'articles_details' article.id %}"></a>
                </p>
                <small class="article-date">{{ article.created_at }}</small>
                <div class="fb-like" data-href="https://elblog.onrender.com/" data-width="20px" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No hay artículos disponibles.</p>
    {% endif %}

    {% include 'slide.html' %}
{% endblock %}