{% load static %}

<!-- footer.html -->
<footer class="footer scroll-fade">
    <div class="footer-container">
        <div class="social-links">
            <a href="
            https://www.facebook.com/profile.php?id=61569070127401" class="social-icon" target="_blank">
                <i class="fab fa-facebook-f"></i> <!-- Icono de Facebook -->
            </a>
            <a href="
            https://wa.me/message/C7YPFDRBOQ3QL1" class="social-icon" target="_blank">
                <i class="fab fa-whatsapp"></i> <!-- Icono de WhatsApp -->
            </a>
            <a href="
            https://www.instagram.com/elblog.digital?igsh=a3lxNWYxNGtvemZp&utm_source=qr" class="social-icon" target="_blank">
                <i class="fab fa-instagram"></i> <!-- Icono de Instagram -->
            </a>
        </div>
        <div class="footer-links">
               
           <a href="{% url 'terms_and_conditions' %}" class="footer-link">Términos y Condiciones</a></li>
           <a href="{% url 'about' %}" class="footer-link">Sobre Nosotros</a></li>
           <a href="{% url 'services' %}" class="footer-link">Servicios</a></li>
           <a href="{% url 'contact' %}" class="footer-link">Contacto</a></li>
           <a href="{% url 'faq' %}" class="footer-link">FAQ</a></li>
        </div>
        
    </div>
    <p class="footer-text">© 2024 EL BLOG. Todos los derechos reservados.</p>
</footer>