<body>
    <div class="container swiper">
        <div class="card-wrapper">
            <!-- Card slides container -->
            <ul class="card-list swiper-wrapper">
                {% for image in images %}
                <li class="card-item swiper-slide">
                    <a href="{{ image.link }}" class="card-link">
                        <img src="{{ image.image.url }}" alt="{{ image.title }} - {{ image.description }}" class="card-image">
                        <p class="badge badge-designer">{{ image.title }}</p>
                        <h2 class="card-title">{{ image.description }}</h2>
                        <button class="card-button material-symbols-rounded">Comprar</button>
                    </a>
                </li>
                {% empty %}
                <p>No images available..</p>
                {% endfor %}
            </ul>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>

            <!-- Navigation Buttons -->
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
        </div>
    </div>
</body>