{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-register-login">
    <div class="container-card-register-login">
        <h2 class="card-title">Restablecer Contraseña</h2> <!-- Añadido clase card-title para el estilo -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group-login"> <!-- Añadido clase form-group-login para el estilo -->
                <label for="id_new_password1">Nueva contraseña:</label>
                <input type="password" name="new_password1" id="id_new_password1" class="form-control" required> <!-- Añadido clase form-control -->
            </div>
            <div class="form-group-login"> <!-- Añadido clase form-group-login para el estilo -->
                <label for="id_new_password2">Confirma nueva contraseña:</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control" required> <!-- Añadido clase form-control -->
            </div>
            <div class="container-buttom"> <!-- Añadido contenedor para centrar el botón -->
                <button type="submit" class="btn-primary">Restablecer contraseña</button> <!-- Añadido clase btn-primary para el estilo -->
            </div>
        </form>
        <p class="forgot-password"><a href="{% url 'login' %}" class="a-login">Volver al inicio de sesión</a></p> <!-- Añadido clase forgot-password para el estilo -->
    </div>
</div>
{% endblock %}