{% extends 'index.html' %}
{% load static %}

{% block content %}
  <div class="container-register-login">
    <div class="container-card-register-login">
      <h2 class="card-title">Restablecer Contraseña</h2>
      <p>¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico a continuación, y te enviaremos instrucciones para establecer una nueva.</p>
      <form method="post">
          {% csrf_token %}
          <div class="form-group-login">
              <label for="id_email">Dirección de correo electrónico:</label>
              <input type="email" name="email" id="id_email" class="form-control" required>
          </div>
          <div class="container-buttom">
              <button type="submit" class="btn-primary">Enviar instrucciones</button>
          </div>
      </form>
      <p class="forgot-password"><a href="{% url 'login' %}" class="a-login">Volver al inicio de sesión</a></p>
    </div>
  </div>
{% endblock %}