{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-register-login">
    <div class="container-card-register-login">
        <h2 class="card-title">Contraseña restablecida</h2> <!-- Añadido clase card-title para el estilo -->
        <p>Tu contraseña ha sido restablecida con éxito. Puedes iniciar sesión ahora.</p>
        <div class="container-buttom"> <!-- Añadido contenedor para centrar el botón -->
            <a href="{% url 'login' %}" class="btn-primary">Iniciar sesión</a> <!-- Botón para iniciar sesión -->
        </div>
    </div>
</div>
{% endblock %}