{% extends 'index.html' %}
{% load static %}

{% block content %}
<body>
    <div class="container-register-login">
        <div class="container-card-register-login">
            <div class="card-body-login">
                <h2 class="card-title">Iniciar Sesión</h2>
                
                {% if messages %}
                    <ul class="message-list">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
       
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group-login">
                        <label for="id_username">Nombre de usuario:</label>
                        <input type="text" name="username" id="id_username" class="form-control" required placeholder="Ingresa tu nombre de usuario">
                    </div>
                    <div class="form-group-login">
                        <label for="id_password">Contraseña:</label>
                        <input type="password" name="password" id="id_password" class="form-control" required placeholder="Ingresa tu contraseña">
                    </div>
                    
                    {% if error %}
                        <p class="error-message">{{ error }}</p>
                    {% endif %}
                    
                    <div class="container-buttom">
                        <button type="submit" class="btn-primary">Iniciar Sesión</button>
                    </div>
                </form>

                <div class="forgot-password">
                    <a href="{% url 'password_reset' %}" class="a-login">¿Olvidaste tu contraseña?</a>
                    <a href="{% url 'register' %}" class="a-login">Registrarse</a>
                </div>
                <div class="google-login">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google">
                        <i class="fab fa-google"></i> <!-- Ícono de Google -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}